body{
    margin:0;
    padding:0;
}

.div-img-inscription-bg-dsk{
    display: none;
}

.titre-inscription{
    font-size: 3rem;
}

.text-inscription{
    font-size: 1.3rem;
}


.formulaire{
    position:relative;
    background-color: blue; /* tester avec cette couleur #3f58c1*/
    padding-top: 6rem;
}

#Calque_inscription_form path{
    fill:#ffffff;
}

#Calque_inscription_form{
    position:absolute;
    top:-1px;
}

.cls-form{
    fill:#ddd;  
}

.div-documents{
    background-color: #ddd;
}

.div-vide-documents{
    height: 3rem;
    background-color: #ddd;
}

.div-titre-section-inscription{
    position: relative;
    display: flex;
    margin:0;
    padding:0;
    background-image: url("/inscription.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

#Calque_titre_inscription_top{
    fill:#ffffff;
}

#Calque_titre_inscription_top{
    position: absolute;
    top: 0;
}

#Calque_titre_inscription_bottom path{
    fill:#ffffff;
}

#Calque_titre_inscription_bottom{
    position: absolute;
    bottom:-1px;
}
.cls-titre_inscription_bottom{
    fill:#ffffff;
}

.titre-section-inscription{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.container-captcha{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

/* testé avec mobile iphone 5s et samsung S5 New*/
@media screen and (max-width:776px) and (orientation:landscape) {
    .div-img-inscription {
        height: 140vh;
    }

}


@media screen and (max-width:576px) and (orientation:portrait) {
    .div-img-inscription {
        height: 45vh;
    }

    
}
/***************************************************************/

/* testé avec tablette ipad mini*/
@media screen and (min-width:777px) and  (max-width:1024px) and (orientation:landscape) {
    .div-img-inscription {
        height: 95vh;
    }

}


@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    .div-img-inscription {
        height: 55vh;
    }

    .titre-inscription {
        font-size: 3rem;
        color: #4c4b4b;
    }

}

/***************************************************************/


/* testé avec ecran full hd 1920*/
@media screen and (min-width:1279px){
    .div-titre-section-inscription {
        display:none;
    }

    .div-img-inscription-bg-dsk{
        display:block;
        width: 100%;
        margin:0 auto;
        background-color: #d7d7d7;
        text-align: center;
    }

    .img-inscription-dsk{
        width: 25%;
    }

    .div-titre-inscription{
        width: 40%;
    }

    .titre-inscription {
        font-size: 3rem;
        color: #4c4b4b;
        text-align: -webkit-center;
    }

} 