.titre-h1-agenda{
    font-size: 2rem;
}

.image-agenda{
    width:100px;
}

.block1-agenda{
    display: flex;
    flex-direction: row;
    align-items: center;

}


.titre-agenda{
    font-weight: bold;
    font-size: 1.2rem;
}


.block3-agenda{
    display: flex;
    align-items: flex-end;
}

