.titre-h1-actualite{
    font-size: 2rem;
}
.image-actu{
    width:100px;
}

.block1-actu{
    display: flex;
    flex-direction: row;
    align-items: center;

}


.titre-actu{
    font-weight: bold;
    font-size: 1.2rem;
}


.block3-actu{
    display: flex;
    align-items: flex-end;
}


