
.sticky-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sticky-footer {
    margin-top: auto
}

.div-img-apel-bg-dsk
{
    display: none;
}

.div-img-apel {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    background-image: linear-gradient( rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0)), url("/apel.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}


.titre-apel {
    font-size: 2rem;
    color: #4c4b4b;
}



/* testé avec mobile iphone 5s et samsung S5 New*/
@media screen and (max-width:776px) and (orientation:landscape) {
    .div-img-apel {
        height: 140vh;
        width: auto;
    }


}


@media screen and (max-width:576px) and (orientation:portrait) {
    .div-img-apel{
        height: 45vh;
        width: auto;
    }

    .text-apel{
        font-size: 1.5rem;
    }
}
/***************************************************************/

/* testé avec tablette ipad mini*/
@media screen and (min-width:777px) and  (max-width:1024px) and (orientation:landscape) {
    .div-img-apel {
        height: 85vh;
        width: auto;
    }
}


@media screen and (min-width:577px) and (max-width:1153px) and (orientation:portrait) {
    .div-img-apel {
        height: 55vh;
        width: auto;
    }

    .text-apel{
        font-size: 1.5rem;
    }

    .titre-apel{
        font-size: 3rem;
    }
}

/***************************************************************/


/* testé avec ecran full hd 1920*/
@media screen and (min-width:1279px){
    .div-img-apel {
        display:none;
    }

    .div-img-apel-bg-dsk{
        display: block;
        background-color: #385e9c;
        text-align: center;
    }

    .img-apel-dsk{
        width: 25%;
    }

    .text-apel{
        font-size: 1.5rem;
    }

    .titre-apel{
        font-size: 3rem;
    }
} 
