
.image{
    width:120px;
}

.container-agenda{
    box-shadow: 5px 5px 20px gray ;
}

.block1{
    display: flex;
    flex-direction: row;
    align-items: center;

}


.titre{
    font-weight: bold;
    font-size: 1.2rem;
}


.block3{
    display: flex;
    align-items: flex-end;
}


@media screen and (min-width:1025px) {
    .image{
        width:200px;
    }
    
    .block1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}